/* container  show  box */
/* h3{text-decoration: underline;}下划线 */

*{
	margin: 0;
	padding: 0;
}

.container{
	width: 800px;
	height: 750px;
	float: left;
	border: 4px solid blanchedalmond;
	position: relative;
	left: 400px;
	top: 60px;
}
.box{
	width: 450px;
	height: 680px;
	position: relative;
	border: 4px solid blanchedalmond;
	margin: 8px;
	margin-left: 20px;
	overflow: hidden;
	
}
.show{
	width: 200px;
	height: 680px;
	left: 550px;
	top: ;
	margin: 8px;
	border: 4px solid blanchedalmond;
	position: absolute;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	position: absolute;
	width: 62px;
	height: 18px;
	border: 0.1px solid black;
	
}
.bubble{
	height: 15px;
	width: 140px;
	background: #000000;
	border-radius:20% ;
	top: 600px;
	left: 180px;
	position: absolute;
	
}

/* //大强 */
.board{
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	position: absolute;
	top: 550px;
	left: 223px;
	background-image: url('../19飞机大战坦克/img/img(1).jpg');
	border-radius:50% ;
	
	
}
.start{
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 60%;
    background: #87CEEB;
	color: #DB7093;
	left: 200px;
	top: 700px;
	position: absolute;
}

.show{
	 background: palegreen;
	 text-align: center;
	 
 }
span{
	display: block;
	font-size: 25px;
	
}


 .info{
	 font-size: 30px;
 }
 
/* 死亡 */
.damahou{
	width: 500px;
	height: 400px;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 999; 
	display: none;
}
/* 加油 */
#jiayou1{
	position: absolute;
	left: 200px;
	top: 300px;
}
#jiayou2{
	position: absolute;
	left: 1230px;
	top: 300px;
}
